<h1> Games </h1>

<table>
  <tr>
    <th>Game Number</th>
    <th>Game Title</th>
    <th>Short Title</th>
    <th>Game URL</th>
  </tr>
  <% game_list.each do |game| %>
  <tr>
    <td><%=game.id%></td>
    <td><%=game.title%></td>
    <td><%=game.short_title%></td>
    <td><%=game.url%></td>
    <td><a href="/games/<%=game.id%>">Edit</a></td>
    <td><form action="/DestroyGame" method="post">
      <input type="hidden" name="game_id" value="<%= game.id%>">
      <input type="submit" class="button radius tiny" value="Delete">
    </form></td>
  </tr>
  <%end%>
</table>

<h3>Add a Game</h3>
<%= erb :form, locals: {game: Game.new}, layout: false %>
