<h1> Games </h1>
<%= will_paginate games %>
<table>
  <tr>
    <th>Game Number</th>
    <th>Game Title</th>
    <th>Short Title</th>
    <th>Game URL</th>
  </tr>
  <% games.each do |game| %>
  <tr>
    <td><%=game.id%></td>
    <td><%=game.title%></td>
    <td><%=game.short_title%></td>
    <td><%=game.url%></td>
    <td><a href="/games/<%=game.id%>/edit">Edit</a></td>
    <td><form action="/game/<%=game.id%>" method="post">
      <input name="_method" type="hidden" value="delete" />
      <input type="submit" class="button radius tiny" value="Delete">
    </form></td>
  </tr>
  <%end%>
</table>

<h3>Add a Game</h3>
<%= erb :form, locals: {game: Game.new, edit: false}, layout: false %>
